*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: .1px;

}
#nav{
    
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    /* background-color: yellow; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
}
#nav h2{
    /* background-color: yellow; */
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 21px;
    font-weight: 600;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw;
    position: relative;
}
#content{
    height:100%;
    width: 100%;
    /* background-color: yellow; */
    position: relative;
   
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#overlay{
    height: 47%;
    width: 100%;
    position: absolute;
    /* background-color: red; */
    bottom: 0;
    padding: 3vw;
    color: #fff;
    
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vh;
}
#over1 h1{
    font-family: monument;
    font-size: 2.5vw;
    /* mix-blend-mode: difference; */
}
#over1 h2{
    font-size: 2vw;
    padding: 1vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 2.5px solid #fff;
    border-bottom: 4px solid #fff;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff; 
    padding: 1vw 0;
}
#over2 h4{
    font-size: 1.5vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
    padding: 0 1vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: bisque; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
#container{
    height: 100%;
    width: 100%;
    /* background-color: rgba(255, 228, 196, 0.164); */
    display: inline-block;
    padding: 2vw;
    animation-name: anim;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#scroll img{
    /* display: none; */
    height: 100%;
    width: 12.3%;
    margin: 1vw;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes anim{
    from{
        transform: translatex(0);
    }
    to{
        transform: translatex(-100%);
    }
}
#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    object-fit: cover;
    padding: 2%;
    margin-top: 5px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    

}
#alphabet h5{
    font-size: 1.6vw;
    text-transform: uppercase;
    font-weight: 450;
    font-style: italic;
    letter-spacing: 3px;
    border-bottom: 2px solid #000;
}

#alphabet h6{
    font-size: .8vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
    padding: 0.5vw 0.6vw;
    /* background-color: aqua; */
    border-radius: 50%;
    cursor: pointer;
    border: .8px solid #00000000;
    transition: all ease .4s;
}

#alphabet h6:hover{
    border: .8px solid #000;
}
#page{
    height: 90%;
    width: 100%;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#part1{
    height: 100%;
    width: 50%;
    background-image: url(https://nbrown-webcms-prod-production-strapi-v4-images.s3.eu-west-1.amazonaws.com/content/medium_JA_PI_12032024_S2_DENIMV_2_5159b415d4.jpg);
    /* background-image: url(https://cdn.platform.next/COMMON/Items/Default/Default/ItemImages/3_4Ratio/SearchTPAlt/288x384/N74227.jpg); */
    background-size: cover;
    
}
#part2{
    height: 100%;
    width: 45%;
    /* background-color: yellow; */
    background-size: cover;
    background-position: top;
}
#part2 img{
    height: 78%;
    width: 100%;
    
    object-fit: cover;
    object-position: top;

}
#part2 section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#part2 h1{
    font-size: 1.2vw;
    font-weight: 600;
    margin-top: 18px;
}
#part2 p{
    font-size: .9vw;
    font-weight: 200;
    margin-top: 10px;
}
#txt{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    padding: 0% 5%;
    align-items: self-start;
}
#txt h1{
    font-family: monument;
    font-size: 1.8vw;
    text-transform: uppercase;
}
#page2{
    height: 80%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page2part1{
    height: 100%;
    width: 44%;
    /* background-color: aqua; */
   
}
#page2part1 img{
    height: 45%;
    width: 50%;
    border-radius: 50%;
    margin: 6.3vw 9vw;
   
}
#page2part1 h1{
    font-size: 1.2vw;
    font-weight: 500;
    padding-left: 70px;
}
#page2part2{
    height: 100%;
    width: 55%;
    background-color: rgb(54, 42, 165);
}
#page2part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}